input{	
           width: 3rem;
            height: 3rem;
            background-color: #ffffff;
            border: solid 1px #A9A9A9;
            border-radius: 0.6rem;
            border-radius: 0.6rem;
            font-size: 0.8rem;
            margin: 0;
            padding: 0;
            position: relative;
            display: inline-block;
            cursor: default;
            -webkit-appearance: none;  
        }
        input {
            border-radius: 0.3rem;   
        }
